
<table class="tabled" align="center">
    <caption>
        <form id="custom-search-form">
            <div class="pull-left">
                <button type="button" class="buttonNkbm" data-dismiss="modal" ng-click="newAplikacija()">
                    <span class="glyphicon glyphicon-plus"></span> New
                </button>
            </div>
            <div class="pull-right">
                <div class="inline">
                    <input class="search"  style='width:100%'  type="text" name="input" ng-model="searchString" placeholder="Search.." ng-trim="true" />
                </div>
                <div class="inline">
                    <button type="submit" class="btn btnSearch" ng-click="getData()">
                        <span class=" glyphicon glyphicon-search" />
                    </button>
                </div>
            </div>
        </form>
    </caption>
    <thead class="theadd">
        <tr>

            <th class="sort" ng-click="sort('Naziv')">
                Naziv
                <span class="glyphicon sort-icon" ng-show="sortKey === 'Naziv'" ng-class="getSortClass()" />
            </th>
            <th class="sort" ng-click="sort('Ime')">
                Ime
                <span class="glyphicon sort-icon" ng-show="sortKey === 'Ime'" ng-class="getSortClass()" />
            </th>
            <th class="sort" ng-click="sort('Opis')">
                Opis
                <span class="glyphicon sort-icon" ng-show="sortKey === 'Opis'" ng-class="getSortClass()" />
            </th>
            <th class="sort" ng-click="sort('Http')">
                Http
                <span class="glyphicon sort-icon" ng-show="sortKey === 'Http'" ng-class="getSortClass()" />
            </th>
            <th class="sort" ng-click="sort('Database')">
                Database
                <span class="glyphicon sort-icon" ng-show="sortKey === 'Database'" ng-class="getSortClass()" />
            </th>

        </tr>
    </thead>
    <tbody>
        <tr class="trd" title="DbClick to edit" ng-repeat="dto in data" ng-dblclick="openModal(dto)">
            <td> {{dto.Naziv}} </td>
            <td> {{dto.Ime}} </td>
            <td> {{dto.Opis}} </td>
            <td> {{dto.Http}} </td>
            <td> {{dto.DataBase}} </td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td align="right" colspan="100%">
                <paging></paging>
            </td>
        </tr>
    </tfoot>
</table>
