<div class="modal-content">
    <div class="modal-header">
        <span class="pull-right">
            <button type="button" class="buttonNkbm" ng-click="delete()">
                <span class="glyphicon glyphicon-trash"></span> Delete
            </button>
        </span>
    </div>

    <div class="modal-body">

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="red" for="name">Aplikacija</label>
                    <div ng-show="!{{new}}">
                        <input name="aplikacija" type="text" id="aplikacija" disabled class="form-control" ng-model="editDto.AplikacijaNaziv" />
                    </div>
                    <div ng-show="{{new}}">
                        <sifranti model="aplikacija" click="getAplikacijeList()" list="aplikacijeList" onchange="getDataAplikacijaKLJ(id)"></sifranti>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <div class="form-group">
                        <label class="red" for="name">Vloga</label>
                        <div ng-show="!{{new}}">
                            <input name="vloga" type="text" id="vloga" disabled class="form-control" ng-model="editDto.VlogaNaziv" />
                        </div>
                        <div ng-show="{{new}}">
                            <sifranti model="vloga" click="getVlogeList()" list="vlogeList" onchange="getDataVlogaKLJ(id)"></sifranti>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="red" for="firstname">Naziv</label>
                    <input name="naziv" type="text" id="naziv" class="form-control" ng-model="editDto.Naziv" />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="red" for="lastname">Opis</label>
                    <input name="opis" type="text" id="opis" class="form-control" ng-model="editDto.Opis" />
                </div>
            </div>
        </div>

        <div class="modal-footer">
            <span class="pull-left">
                <button type="button" class="buttonNkbm" data-dismiss="modal" ng-click="save()">
                    <span class="glyphicon glyphicon-ok"></span> Save
                </button>
            </span>
            <button type="button" class="buttonNkbm" data-dismiss="modal" ng-click="cancel()">
                <span class="glyphicon glyphicon-remove"></span> Close
            </button>
        </div>

    </div>
</div>

<script language="javascript" type="text/javascript">
    //formatLocale();
    //jQuery('.selectpicker').selectpicker();
    window.onload = grayOut(false);
</script>

