
<table class="tabled" align="center">

    <thead class="theadd">
        <tr>

            <th>
                <span>Aplikacija</span>
                <span>
                    <!--model click in list attribute must be set in SifrantiDirective before use-->
                    <sifranti model="aplikacija" click="getAplikacijeList()" list="aplikacijeList" onchange="getData(id)"></sifranti>
                </span>
            </th>

            <th>
                <span>Vloga</span>
                <span>
                    <!--model click in list attribute must be set in SifrantiDirective before use-->
                    <sifranti model="vloge" click="getVlogeList()" list="vlogeList" onchange="getData(id)"></sifranti>
                </span>
            </th>

            <th class="sort" ng-click="sort('Naziv')">
                Naziv
                <span class="glyphicon sort-icon" ng-show="sortKey === 'Naziv'" ng-class="getSortClass()" />
            </th>
            <th class="sort" ng-click="sort('Opis')">
                Opis
                <span class="glyphicon sort-icon" ng-show="sortKey === 'Opis'" ng-class="getSortClass()" />
            </th>


        </tr>
    </thead>
    <tbody>
        <tr class="trd" title="DbClick to edit" ng-repeat="dto in data" ng-dblclick="openModal(dto)">
            <td> {{dto.Aplikacija}} </td>
            <td> {{dto.Naziv}} </td>
            <td> {{dto.Opis}} </td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td align="right" colspan="100%">
                <paging></paging>
            </td>
        </tr>
    </tfoot>

</table>
