<div class="modal-content">
    <div class="modal-header">
        <span class="pull-right">
            <button type="button" class="buttonNkbm" ng-click="delete()">
                <span class="glyphicon glyphicon-trash"></span> Delete
            </button>
        </span>
    </div>

    <div class="modal-body">

        <div class="form-group">
            <label class="red" for="uporabnikID">UporabnikID</label>
            <input name="uporabnikID" type="text" id="uporabnikID" class="form-control" ng-model="editDto.UporabnikID" />
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="red" for="ime">Ime</label>
                    <input name="ime" type="text" id="ime" class="form-control" ng-model="editDto.Ime" />
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label class="red" for="priimek">Priimek</label>
                    <input name="priimek" type="text" id="priimek" class="form-control" ng-model="editDto.Priimek" />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label class="red" for="winusername">WinUsername</label>
                    <input name="winusername" type="text" id="winusername" class="form-control" ng-model="editDto.WinUsername" />
                </div>
            </div>
            <div class="col-md-2" /> <!--empty!-->
        </div>

        <div class="form-group">
            <label class="red" for="rfid">RFID</label>
            <input name="rfid" type="text" id="rfid" class="form-control" ng-model="editDto.RFID" />
        </div>
        <br />
        <div class="modal-footer">
            <span class="pull-left">
                <button type="button" class="buttonNkbm" data-dismiss="modal" ng-click="save()">
                    <span class="glyphicon glyphicon-ok"></span> Save
                </button>
            </span>
            <button type="button" class="buttonNkbm" data-dismiss="modal" ng-click="cancel()">
                <span class="glyphicon glyphicon-remove"></span> Close
            </button>
        </div>

    </div>
</div>
<script language="javascript" type="text/javascript">
    window.onload = grayOut(false);
</script>

