

<table class="tabled" align="center">
    <caption>
        <form id="custom-search-form">
            <div class="pull-left">
                <button type="button" class="buttonNkbm" data-dismiss="modal" ng-click="newUporabnik()">
                    <span class="glyphicon glyphicon-plus"></span> New
                </button>
            </div>
            <div class="pull-right">
                <div class="inline">
                    <input class="search" style='width:100%' type="text" name="input" ng-model="searchString" placeholder="Search.." ng-trim="true" />
                </div>
                <div class="inline">
                    <button type="submit" class="btn btnSearch" ng-click="getData()">
                        <span class=" glyphicon glyphicon-search" />
                    </button>
                </div>
            </div>
        </form>
    </caption>
    <thead class="theadd">
        <tr>

            <th></th>
            <th class="sort" ng-click="sort('UporabnikID')">
                UporabnikID
                <span class="glyphicon sort-icon" ng-show="sortKey === 'UporabnikID'" ng-class="getSortClass()" />
            </th>
            <th class="sort" ng-click="sort('Ime')">
                Ime
                <span class="glyphicon sort-icon" ng-show="sortKey === 'Ime'" ng-class="getSortClass()" />
            </th>
            <th class="sort" ng-click="sort('Priimek')">
                Priimek
                <span class="glyphicon sort-icon" ng-show="sortKey === 'Priimek'" ng-class="getSortClass()" />
            </th>
            <th class="sort" ng-click="sort('WinUsername')">
                WinUsername
                <span class="glyphicon sort-icon" ng-show="sortKey === 'WinUsername'" ng-class="getSortClass()" />
            </th>
            <th class="sort" ng-click="sort('RFID')">
                RFID
                <span class="glyphicon sort-icon" ng-show="sortKey === 'RFID'" ng-class="getSortClass()" />
            </th>

        </tr>
    </thead>
    <tbody>
        <tr class="trd" title="DbClick to edit" ng-repeat="dto in data" ng-dblclick="openModal(dto)">
            <td><span class="glyphicon glyphicon-triangle-right" /></td>
            <td> {{dto.UporabnikID}} </td>
            <td> {{dto.Ime}} </td>
            <td> {{dto.Priimek}} </td>
            <td> {{dto.WinUsername}} </td>
            <td> {{dto.RFID}} </td>
        </tr>
    </tbody>
<tfoot>
    <tr>
        <td align="right" colspan="100">
            <paging></paging>
        </td>
    </tr>
</tfoot>
</table>
